---
import MainLayout from '../../layout/MainLayout.astro';
import SesionLayout from '../../layout/SesionLayout.astro';

// configuración del inicio
// ¿Tiene intro?
const intro = true
// ¿Tiene categorias?
const categories = false
// ¿Tiene Servicios?
const services = true
// ¿Tiene Personal a escoger?
const personal= true
// ¿Tiene publicaciones?
const publicaciones = false
// ¿Tiene ubicación?
const ubicaciones = true

import IntroSelect1 from '../../modules/1-Inicio/1-intros/1-intro1.astro';
import IntroSelect2 from '../../modules/1-Inicio/1-intros/2-intro2.astro';
import IntroSelect3 from '../../modules/1-Inicio/1-intros/3-intro3.astro';
import IntroSelect4 from '../../modules/1-Inicio/1-intros/4-intro4.astro';
import IntroSelect5 from '../../modules/1-Inicio/1-intros/5-intro5.astro';
import IntroSelect6 from '../../modules/1-Inicio/1-intros/6-intro6.astro';
import IntroSelect7 from '../../modules/1-Inicio/1-intros/7-intro7.astro';
import IntroSelect8 from '../../modules/1-Inicio/1-intros/8-intro8.astro';
import IntroSelect9 from '../../modules/1-Inicio/1-intros/9-intro9.astro';
import IntroSelect10 from '../../modules/1-Inicio/1-intros/10-intro10.astro';
const intro1 = false
const intro2 = true
const intro3 = true	
const intro4 = false
const intro5 = false
const intro6 = false
const intro7 = false
const intro8 = false
const intro9 = false
const intro10 = false
// Color de fondo de la sesión Introducción
const colorIntro = "#h2h7h9";

import CategoSelect1 from '../../modules/1-Inicio/2-categories/1-categories1.astro';
import CategoSelect2 from '../../modules/1-Inicio/2-categories/2-categories2.astro';
import CategoSelect3 from '../../modules/1-Inicio/2-categories/3-categories3.astro';
import CategoSelect4 from '../../modules/1-Inicio/2-categories/4-categories4.astro';
import CategoSelect5 from '../../modules/1-Inicio/2-categories/5-categories5.astro';
import CategoSelect6 from '../../modules/1-Inicio/2-categories/6-categories6.astro';
import CategoSelect7 from '../../modules/1-Inicio/2-categories/7-categories7.astro';
import CategoSelect8 from '../../modules/1-Inicio/2-categories/8-categories8.astro';
import CategoSelect9 from '../../modules/1-Inicio/2-categories/9-categories9.astro';
import CategoSelect10 from '../../modules/1-Inicio/2-categories/10-categories10.astro';
const catego1 = false
const catego2 = false
const catego3 = false
const catego4 = false
const catego5 = false
const catego6 = false
const catego7 = false
const catego8 = false
const catego9 = false
const catego10 = false
// Color de fondo de la sesión Categorias
const colorCatego = "#f2f7f9";

import ServiSelect1 from '../../modules/1-Inicio/3-servicios/1-servicios1.astro';
import ServiSelect2 from '../../modules/1-Inicio/3-servicios/2-servicios2.astro';
import ServiSelect3 from '../../modules/1-Inicio/3-servicios/3-servicios3.astro';
import ServiSelect4 from '../../modules/1-Inicio/3-servicios/4-servicios4.astro';
import ServiSelect5 from '../../modules/1-Inicio/3-servicios/5-servicios5.astro';
import ServiSelect6 from '../../modules/1-Inicio/3-servicios/6-servicios6.astro';
import ServiSelect7 from '../../modules/1-Inicio/3-servicios/7-servicios7.astro';
import ServiSelect8 from '../../modules/1-Inicio/3-servicios/8-servicios8.astro';
import ServiSelect9 from '../../modules/1-Inicio/3-servicios/9-servicios9.astro';
import ServiSelect10 from '../../modules/1-Inicio/3-servicios/10-servicios10.astro';
const servi1 = true
const servi2 = false
const servi3 = false
const servi4 = false
const servi5 = false
const servi6 = false
const servi7 = false
const servi8 = false
const servi9 = false
const servi10 = false
// Color de fondo de la sesión Servicios
const colorServi = "#f2f7f9";

import PersonalSelect1 from '../../modules/1-Inicio/4-Personal/1-personal1.astro';
import PersonalSelect2 from '../../modules/1-Inicio/4-Personal/2-personal2.astro';
import PersonalSelect3 from '../../modules/1-Inicio/4-Personal/3-personal3.astro';
import PersonalSelect4 from '../../modules/1-Inicio/4-Personal/4-personal4.astro';
import PersonalSelect5 from '../../modules/1-Inicio/4-Personal/5-personal5.astro';
import PersonalSelect6 from '../../modules/1-Inicio/4-Personal/6-personal6.astro';
import PersonalSelect7 from '../../modules/1-Inicio/4-Personal/7-personal7.astro';
import PersonalSelect8 from '../../modules/1-Inicio/4-Personal/8-personal8.astro';
import PersonalSelect9 from '../../modules/1-Inicio/4-Personal/9-personal9.astro';
import PersonalSelect10 from '../../modules/1-Inicio/4-Personal/10-personal10.astro';
const personal1 = true
const personal2 = false
const personal3 = false
const personal4 = false
const personal5 = false
const personal6 = false
const personal7 = false	
const personal8 = false
const personal9 = false
const personal10 = false
// Color de fondo de la sesión Personal
const colorPersonal = "#h2h7h9";

// Publicaciones

import PublicaSelect1 from '../../modules/1-Inicio/5-publicaciones/1-publicaciones1.astro';
const publicaciones1 = false

// Ubicacion

import UbicaSelect1 from '../8-Ubicacion/index.astro';
import CardComercial from '@/components/ui/cardComercial.astro';
const ubicacion1 = true

---

<MainLayout>
	<!-- Intros estaticas -->
	 {intro && 
	 <div>
		{intro3 && 
		<SesionLayout backgroundColor={colorIntro} backgroundImage='./carruselCards/fondobarber.svg' >
				<IntroSelect3/>
		</SesionLayout>
		}
		{intro1 && 
		<SesionLayout backgroundColor={colorIntro} backgroundImage='./carruselCards/fondobarber.svg'>
			<IntroSelect1/>
		</SesionLayout>
		}
		{intro2 && 
		<SesionLayout backgroundColor={"#000000"} backgroundImage='./carruselCards/fondobarber.svg'>
			<IntroSelect2/>
		</SesionLayout>
		}
		
		{intro4 && 
		<SesionLayout backgroundColor={colorIntro}>
			<IntroSelect4/>
		</SesionLayout>
		}
		{intro5 && 
		<SesionLayout backgroundColor={colorIntro}>
			<IntroSelect5/>
		</SesionLayout>
		}
		{intro6 && 
		<SesionLayout backgroundColor={colorIntro}>
			<IntroSelect6/>
		</SesionLayout>
		}
		{intro7 && 
		<SesionLayout backgroundColor={colorIntro}>
			<IntroSelect7/>
		</SesionLayout>
		}
		{intro8 && 
		<SesionLayout backgroundColor={colorIntro}>
			<IntroSelect8/>
		</SesionLayout>
		}
		{intro9 && 
		<SesionLayout backgroundColor={colorIntro}>
			<IntroSelect9/>
		</SesionLayout>
		}
		{intro10 && 
		<SesionLayout backgroundColor={colorIntro}>
			<IntroSelect10/>
		</SesionLayout>
		}
	 </div>}	
	<!-- Intros dinamicas -->

	<!-- Categorias Dinamicas -->
	{categories && 
	<div>
		{catego1 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect1/>
			</SesionLayout>
		}
		{catego2 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect2/>
			</SesionLayout>
		}
		{catego3 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect3/>
			</SesionLayout>
		}
		{catego4 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect4/>
			</SesionLayout>
		}
		{catego5 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect5/>
			</SesionLayout>
		}
		{catego6 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect6/>
			</SesionLayout>
		}
		{catego7 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect7/>
			</SesionLayout>
		}
		{catego8 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect8/>
			</SesionLayout>
		}
		{catego9 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect9/>
			</SesionLayout>
		}
		{catego10 && 
			<SesionLayout backgroundColor={colorCatego}>
				<CategoSelect10/>
			</SesionLayout>
		}

	</div>}
	<!-- Categorias Dinamicas -->

	<!-- Servicios Dinamicas -->
	{services &&
	<div>	
		{servi1 && 
			<SesionLayout backgroundColor={colorServi} cabeceraHeight={"2vh"}>
				<ServiSelect1/>
			</SesionLayout>
		}
		{servi2 && 
			<SesionLayout backgroundColor={colorServi} cabeceraHeight={"2vh"}>
				<ServiSelect2/>
			</SesionLayout>
		}
		{servi3 && 
			<SesionLayout backgroundColor={colorServi} cabeceraHeight={"2vh"}>
				<ServiSelect3/>
			</SesionLayout>
		}
		{servi4 && 
			<SesionLayout backgroundColor={colorServi}>
				<ServiSelect4/>
			</SesionLayout>
		}
		{servi5 && 
			<SesionLayout backgroundColor={colorServi}>
				<ServiSelect5/>
			</SesionLayout>
		}
		{servi6 && 
			<SesionLayout backgroundColor={colorServi}>
				<ServiSelect6/>
			</SesionLayout>
		}
		{servi7 && 
			<SesionLayout backgroundColor={colorServi}>
				<ServiSelect7/>
			</SesionLayout>
		}
		{servi8 && 
			<SesionLayout backgroundColor={colorServi}>
				<ServiSelect8/>
			</SesionLayout>
		}
		{servi9 && 
			<SesionLayout backgroundColor={colorServi}>
				<ServiSelect9/>
			</SesionLayout>
		}
		{servi10 && 
			<SesionLayout backgroundColor={colorServi}>
				<ServiSelect10/>
			</SesionLayout>
		}
	</div>
	}
	<!-- Servicios Dinamicas -->
	 
	<!-- Personal Dinamicas -->
	{personal && 
	<div>
		{personal1 && 
			<SesionLayout backgroundColor={colorPersonal} cabeceraHeight={"4vh"}>
				<PersonalSelect1/>
			</SesionLayout>
		}
		{personal2 && 
			<SesionLayout backgroundColor={colorPersonal}>
				<PersonalSelect2/>
			</SesionLayout>
		}
		{personal3 && 
			<SesionLayout backgroundColor={colorPersonal}>
				<PersonalSelect3/>
			</SesionLayout>
		}
		{personal4 && 
			<SesionLayout backgroundColor={colorPersonal}>
				<PersonalSelect4/>
			</SesionLayout>
		}
		{personal5 && 
			<SesionLayout backgroundColor={colorPersonal}>
				<PersonalSelect5/>
			</SesionLayout>
		}
		{personal6 && 
			<SesionLayout backgroundColor={colorPersonal}>
				<PersonalSelect6/>
			</SesionLayout>
		}
		{personal7 && 
			<SesionLayout backgroundColor={colorPersonal}>
				<PersonalSelect7/>
			</SesionLayout>
		}
		{personal8 && 
			<SesionLayout backgroundColor={colorPersonal}>
				<PersonalSelect8/>
			</SesionLayout>
		}
		{personal9 && 
			<SesionLayout backgroundColor={colorPersonal}>
				<PersonalSelect9/>
			</SesionLayout>
		}
		{personal10 && 
			<SesionLayout backgroundColor={colorPersonal}>
				<PersonalSelect10/>
			</SesionLayout>
		}
	</div>
	}
	<SesionLayout backgroundColor={"#f2f7f9"}>
		<CardComercial />
	</SesionLayout>
	

	<!-- publicaciones -->
	{publicaciones && 
	<div>
		{publicaciones1 && 
			<SesionLayout backgroundColor={"#h2h7h9"}>
				<PublicaSelect1/>
			</SesionLayout>
		}
	</div>
	}
	<!-- Ubicaciones -->
	{ubicaciones && 
	<div>
		{ubicacion1 && 
			<SesionLayout backgroundColor={"#h2h7h9"} cabeceraHeight={"2vh"}>
				<UbicaSelect1/>
			</SesionLayout>
		}
	</div>
	}

	
</MainLayout>