---
import SocialLink from '../../../components/ui/SocialLink.astro';
import {
  titleIntro,
  textIntro,
  socialLinks,
  colorTitleIntro,
  colorTextIntro,
  colorSocialIconBg,
  colorSocialIconText,
  colorSocialIconHoverBg,
  colorSocialIconHoverText
} from '../../../config/0-Cliente-Configuracion/1-intros-config/2-intros-intro2-config.jsx';
---

<style>
  /* Aquí puedes agregar estilos adicionales si es necesario */
</style>

<div>
  <section class="px-4 py-12 relative sm:px-8 sm:py-16">
    <div class="w-full max-w-3xl mx-auto flex flex-col items-center text-center">
        { (
            <div class="p-4">
                <img
                    src={"./logo.png"}
                    alt={"Logotipo de la empresa"}
                    class="w-32 aspect-square object-cover rounded-full border-2 border-customColor4 shadow-2xl"
                />
            </div>
        )}
        <div class="bg-black p-4 md:px-10 md:py-10 mt-5 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center shadow-2xl">
         <h1 class={`${colorTitleIntro} font-bold`}>{titleIntro}</h1>
         <p class={`${colorTextIntro} mt-4`}>{textIntro}</p>

         {socialLinks.length > 0 && (
            <div class="flex flex-wrap gap-x-4 gap-y-3 justify-center mt-4">
                {(socialLinks || []).map((link) => (
                    <SocialLink
                      {...link}
                      class={`${colorSocialIconBg} ${colorSocialIconText} ${colorSocialIconHoverBg} ${colorSocialIconHoverText} shadow-button`}
                    />
                ))}
            </div>
         )}
        </div>
    </div>
  </section>
</div>
