---
import imageSrc from '../../../assets/images/bienvenida.jpg';
import imageLogo from '../../../assets/images/logo.jpg';
import Logo from '../../../components/ui/CustomImagen.astro';
import ImgBienvenida from '../../../components/ui/CustomImagen.astro';
import IconGeneral from "../../../components/icons/IconGeneral"

const colorButtonCard = "bg-customColor8"
const colorButtonCardHover = "hover:bg-customColor5"
const colorButtonCardText = "text-white"
const colorButtonCardTextHover = "hover:text-gray-800"
const borderRadiusCardButton = "rounded"
const textButton = "Agendar cita"
const colorIcon = "currentColor"
const sizeIcon = "16"
const classNameIcon = "bi bi-scissors animate-bounce"
const viewBoxIcon = "0 0 16 16"
const pathIcon = "M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0m7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"


---

<style>
  .text-gradient {
    background-image: linear-gradient(90deg, #060606, #535a61, #c3d0d5, #292c30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    animation: gradient-animation 3s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

  .carrusel {
    width: 100%;
    height: 56vh;
    position: relative;
  }

  .imagenCarrusel {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.375rem /* 6px */;
  }

  @media (max-width: 600px) {
    .carrusel {
      width: 94%;
      height: 35vh;
    }
  }
</style>

<section class="relative lg:-mt-[76px]">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-1 sm:px-1">
    <div class="pt-0 md:pt-[20px] pointer-events-none"></div>
    <div class="py-1 md:py-10">
      <div class="text-center pb-10 md:pb-16 max-w-screen-lg mx-auto">
       
        <!-- Titulo de Bienvenida ******************* -->
        <h1 class="text-3xl md:text-3xl font-bold leading-tighter tracking-tighter mb-3 font-heading dark:text-gray-200">
          <div class="mt-5">
            <span class="text-gradient">BIENVENIDOS</span> A CLASS BARBER
          </div>
        </h1>

        <div style="display:flex; justify-content: center;">
            <ImgBienvenida
            src={imageSrc}
            alt="Imagen de bienvenida"
            widths={[360, 720, 1080]}  
            sizes="(max-width: 600px) 100vw, 620px"
            loading="eager"
            class="imagenCarrusel bg-gray-500  lg:shadow-lg lg:shadow-gray-300 hover:shadow-gray-600 lg:rounded-md  carrusel  h-60 lg:h-80"
            width={700} 
            height={800} 
          />               
        </div>
        <br>
        <div class="flex justify-center items-center flex-col">
            <Logo 
            src={imageLogo}
            class={`shadow-lg shadow-gray-500 hover:shadow-gray-600 rounded-full w-20 h-20`} 
            widths = {[80, 160, 240]}
            sizes = '(max-width: 600px) 80px, 160px'
            width={80} 
            height={80} 
            loading="eager" 
            />
          <br>
          <a href="/8-Ubicacion">
          <h1 class="text-lg font-bold" style="text-align: center;font-family: Lucida Sans; color: #67737e;">Visitanos en:</h1> 
          <p class="text-sm flex justify-center items-center flex-row" style="font-family: Lucida Sans; color: #67737e "> <IconGeneral 
            params={{ 
              color: "gray", 
              size: "16", 
              className: "bi bi-geo-fill", 
              viewBox: "0 0 16 16", 
              path: "M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411" 
            }} 
          />  España / Ibiza</p>
        </a>
        </div>

        
       


        <br/>
        <div class="w-full flex justify-center">
          <a href="/7-Citas" class={`${colorButtonCard} ${colorButtonCardHover} ${colorButtonCardText} ${colorButtonCardTextHover} ${borderRadiusCardButton} font-bold py-2 px-4 flex items-center`}>
            <span>{textButton ? textButton : "Botón Card"}</span> &nbsp;
            <div class='animate-bounce'>
              <IconGeneral 
                params={{ 
                  color: colorIcon, 
                  size: sizeIcon, 
                  className: classNameIcon, 
                  viewBox: viewBoxIcon, 
                  path: pathIcon 
                }} 
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>            
</section>
