---
import IconGeneral from "../../components/icons/IconGeneral"
import ImgServicio1 from '../../components/ui/CustomImagen.astro';
import Img1 from "../../assets/galery/1.jpg";
import Img6 from "../../assets/galery/6.jpg";
import Img7 from "../../assets/galery/7.jpg";
import Img20 from "../../assets/galery/20.jpg";
import Img9 from "../../assets/galery/9.jpg";

const arrayCard = [
  { imagen: Img7, nombre: "Corte de Cabello", minutos: 30 },
  { imagen: Img6, nombre: "Corte de Cabello y Barba", minutos: 45 },
  { imagen: Img6, nombre: "Arreglo de barba", minutos: 25 },
  { imagen: Img1, nombre: "Cejas con navaja", minutos: 5 },
  { imagen: Img20, nombre: "Colorimetria", minutos: 60 },
];

const colorButtonCard = "bg-customColor8"
const colorButtonCardHover = "hover:bg-customColor5"
const colorButtonCardText = "text-white"
const colorButtonCardTextHover = "hover:text-gray-800"
const borderRadiusCardButton = "rounded"
const textButton = "Agendar cita"
const colorIcon = "currentColor"
const sizeIcon = "16"
const classNameIcon = "bi bi-scissors animate-bounce"
const viewBoxIcon = "0 0 16 16"
const pathIcon = "M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0m7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"

---
<div class="text-center w-full flex flex-col items-center justify-center">
    <h3 class="text-3xl text-center w-full underline decoration-gray-500/80 hover:no-underline text-foreground font-bold col-span-3 xl:col-span-1 mx-4">
      Servicios
    </h3> 
</div>
<br>
<div class="flex justify-center items-center flex-col md:flex-row w-9/10 gap-8 max-w-5xl">
  {arrayCard.map((card) => (
    <div  class="w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow mx-4">
      <div class="w-full flex flex-row items-center gap-2 m-4">
        <a href="/7-Citas">
          <ImgServicio1
            src={card.imagen}
            alt={`Imagen de ${card.nombre}`}
            widths={[100, 200, 300]}
            sizes="(max-width: 600px) 100vw, 200px"
            loading="lazy"
            class="bg-gray-500 shadow-lg shadow-gray-300 hover:shadow-gray-600 rounded-full"
            width={70} 
            height={70} 
          />
        </a>
        <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{card.nombre}</h5>
      </div>
      <div class="px-5 pb-5">
        <div class="flex items-center mt-2.5 mb-5">
          <div class="flex items-center space-x-1 rtl:space-x-reverse">
            {/* Genera estrellas amarillas */}
            {Array.from({ length: 4 }, (_, i) => (
              <svg class="w-4 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
              </svg>
            ))}
            {/* Genera una estrella gris */}
            <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
              <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>  
          </div>
          <span class="bg-gray-100 text-gray-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-gray-200 dark:text-gray-800 ms-3">5.0</span>
        </div>
        <div class="flex items-center justify-between">
          <span class="text-2xl font-bold text-gray-900 dark:text-white flex items-center flex-row">
            <IconGeneral 
              params={{ 
                color: colorIcon, 
                size: sizeIcon, 
                className: "bi bi-stopwatch-fill", 
                viewBox: viewBoxIcon, 
                path: "M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584l.013-.012.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354-.012.012A6.97 6.97 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0" 
              }} 
            /> &nbsp; {card.minutos} min
          </span>
          <a href="/7-Citas" class={`${colorButtonCard} ${colorButtonCardHover} ${colorButtonCardText} ${colorButtonCardTextHover} ${borderRadiusCardButton} font-bold py-2 px-4 flex items-center`}>
            <span>{textButton ? textButton : "Botón Card"}</span> &nbsp;
            <div class="animate-bounce">
              <IconGeneral 
                params={{ 
                  color: colorIcon, 
                  size: sizeIcon, 
                  className: classNameIcon, 
                  viewBox: viewBoxIcon, 
                  path: pathIcon 
                }} 
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  ))}
</div>
</div>
<br>



